name: Pull request to dev

on:
  pull_request:
    types: [opened, reopened]
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      GITHUB_OWNER: StanleyProjects
      GITHUB_REPO: AndroidExtension.UserInterface
      TELEGRAM_BOT_ID: ${{secrets.TELEGRAM_BOT_ID}}
      TELEGRAM_BOT_TOKEN: ${{secrets.TELEGRAM_BOT_TOKEN}}
      TELEGRAM_CHAT_ID: ${{secrets.TELEGRAM_CHAT_ID_COMMON}}
      GITHUB_PAT: ${{secrets.PERSONAL_ACCESS_TOKEN}}
      RESOURCES_PATH: buildSrc/src/main/resources
    steps:
      - run: |
          echo "HOME=$(echo ~)" >> $GITHUB_ENV
          echo "DOCKER_PREFIX=docker_${GITHUB_RUN_NUMBER}_${GITHUB_RUN_ID}" >> $GITHUB_ENV
          echo "ASSEMBLY_PATH=$HOME/assembly_${GITHUB_RUN_NUMBER}_${GITHUB_RUN_ID}" >> $GITHUB_ENV
          echo "PR_NUMBER=$(jq -r .pull_request.number   $GITHUB_EVENT_PATH)" >> $GITHUB_ENV
          echo "PR_SOURCE_BRANCH=$(jq -r .pull_request.base.ref $GITHUB_EVENT_PATH)" >> $GITHUB_ENV
          echo "GIT_SOURCE_BRANCH=$(jq -r .pull_request.head.ref $GITHUB_EVENT_PATH)" >> $GITHUB_ENV
          echo "GIT_COMMIT_SHA=$(jq -r .pull_request.head.sha $GITHUB_EVENT_PATH)" >> $GITHUB_ENV
      - run: |
          git clone --single-branch --branch=dev https://github.com/$GITHUB_OWNER/$GITHUB_REPO.git $HOME/repository
          git -C $HOME/repository fetch origin $GIT_COMMIT_SHA
          git -C $HOME/repository merge --no-ff --no-commit $GIT_COMMIT_SHA
      - working-directory: ${{env.HOME}}/repository
        run: |
          /bin/bash $RESOURCES_PATH/bash/workflow/assemble/vcs.sh
          /bin/bash $RESOURCES_PATH/bash/workflow/prepare.sh
          /bin/bash $RESOURCES_PATH/bash/workflow/verify.sh
          /bin/bash $RESOURCES_PATH/bash/workflow/assemble/common.sh
          /bin/bash $RESOURCES_PATH/bash/workflow/assemble/documentation.sh
          /bin/bash $RESOURCES_PATH/bash/workflow/pr/dev/vcs.sh
          /bin/bash $RESOURCES_PATH/bash/workflow/pr/dev/on_success.sh
